<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/ad/creatAd/coupon.css">
    <link rel="stylesheet" href="../../../assets/css/ad/creatAd/date.css">
    <link rel="stylesheet" href="../../../assets/css/ad/creatAd/order.css">
    <link rel="stylesheet" href="../../../assets/css/ad/creatAd/time.css">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js" charset="utf-8"></script>
  </head>
  <body>

    <div class="order_wrap">
      <!-- 下单banner -->
      <div class="orderBanner"></div>
      <div class="creatad_center_box"></div>
      <!-- 广告主姓名 -->
      <div class="user_wrap" style="margin-top:-1.8rem;">
        <p>广告主姓名</p>
        <input class="userName" type="text" name="" value=""placeholder="请填写广告主姓名">
      </div>
      <!-- 广告主电话 -->
      <!-- <div class="user_wrap">
        <p>广告主电话</p>
        <input class="userTel" type="number" name="" value=""placeholder="请填写广告主电话">
      </div> -->
      <!-- 选择开始和结束日期 -->
      <div class="user_wrap">
        <p>播放日期</p>
        <div class="check_time">
          <span id="beginTime" data-index="1" class="userStart">请选择开始日期</span>
          <!-- <span>—</span>
          <span id="endTime" data-index="2" class="userClose">请选择结束日期</span> -->
        </div>
      </div>
      <!-- 视频时长 -->
      <!-- <div class="user_wrap">
        <p>视频时长</p>
        <div class="check_time check_time_tabindex" id="change_langth">
          <span class="time_num">请选择播放视频时长</span>
          <img id="check_play" style="width: 0.4rem;height: 0.2rem;" src="../../../assets/images/ad/creatad/down.png" alt="">
        </div>
      </div> -->
      <!-- 播放点位 -->
      <div class="user_wrap" style="height:auto;">
        <p>播放点位</p>
        <div class="check_time" id="or_id_check">
          <span class="userPointer"data-id="{:session('user_info.member_city_code')}"  style="color:black;">{:session('user_info.member_work_location')}</span>
          <img id="check_time" style="width: 0.4rem;height: 0.2rem;"  src="../../../assets/images/ad/creatad/down.png" alt="">
        </div>
        <!-- 点位选择结果 -->
        <div class="area_result">
          <div class="area_result_up">
            <p class="up_title">全选整镇</p>
            <!-- <div class="area_result_every">
              <p>1111</p>
              <span>20</span>
              <i class="removeTownBtn">×</i>
            </div>
            <div class="area_result_every">
              <p>2222</p>
              <span>20</span>
              <i class="removeTownBtn">×</i>
            </div>
            <div class="area_result_every">
              <p>3333</p>
              <span>20</span>
              <i class="removeTownBtn">x</i>
            </div> -->
          </div>
          <div class="area_result_down_ctn">
           <!-- <div class="area_result_down">
              <p class="up_title">小焦镇</p>
               <div class="area_result_v">
                <p>哈哈哈</p>
                <i class="removeVillageBtn">×</i>
              </div>
            </div> -->
          </div>

          <div class="area_result_num">
            <p>点位总计：</p><span class="siteAll">0</span>
          </div>

        </div>
      </div>
      <!-- 活动优惠 -->
      <!-- <div id="coupon" class="user_wrap" style="margin-bottom:0.6rem;">
        <p>活动优惠</p>
        <span class="activeTime" style="color:black;">无可选优惠券</span>
      </div> -->

      <!-- 提交订单 -->
      <div class="submit_btn" >提交订单</div>

      <!-- 选择乡镇 村 -->
      <div class="check_area">
        <div class="check_area_up">
          <ul>
            <li id="town_title" class="color_style">镇/乡</li>
            <li id="village_title">村</li>
          </ul>
        </div>
        <div id="town_msg" class="check_area_center"></div>
        <div id="village_msg" class="check_area_center"></div>
        <div class="check_area_down">
          <p class="allCheck">全选</p>
          <p class="allCancel">取消</p>
          <p class="addArea">添加</p>
        </div>
      </div>
    </div>


    <!-- 时长选择 -->
    <div class="areaSelect_cover" style="display:none;"></div>
<div class="areaSelect_ctn" style="display:none;">
    <div class="clear areaSelect_ctn_head">
        <div class="f_l areaSelect_ctn_left">取消</div>
        <div class="f_r areaSelect_ctn_right">确认</div>
    </div>
    <div class="areaSelect_body" id="banner-box">
        <ul class="areaSelect_body_ul banner-show">
            <li class="areaSelect_body_li on">15秒</li>
            <li class="areaSelect_body_li on">30秒</li>
            <li class="areaSelect_body_li on">45秒</li>
            <li class="areaSelect_body_li on">60秒</li>
        </ul>
        <div class="areaSelected_on"></div>
    </div>

</div>

  <!-- 时间选择 -->
  <div id="datePlugin"></div>

  <!-- 弹框 -->
  <div class="alert_wrap"></div>
  <!--loading-->
  <div class="loading" style="display: none"><div class="loading-cover"></div> <div class="loader circle-spin small"> <div class="loader-placeholder"></div> </div> </div>



  </body>
</html>
